body {
  background-color: rgb(190, 190, 190);
}

div {
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  background-color: white;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  width: 25%;
}

input {
  width: 100%;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  height: 3rem;
  width: 100%;
  display: inline-block;
}