body {
    background-color: orange;
}

h1 {
    font-size: 50px;
    color: black;
    margin-left: 20px;
}
button {
    display: block;
  border: none;
  background-color: white;
  padding: 14px 28px;
  font-size: 65px;
  text-align: center;
  margin-top: 60px;
  margin-left: 50px;
 
  border: 3px solid black;
font-family: 'Times New Roman', Times, serif;
}

.button1 {
    display: block;
  border: none;
  background-color: white;
  padding: 14px 28px;
  font-size: 65px;
  text-align: center;
  margin-top: 50px;
  margin-left: 80px;

  border: 3px solid black;
font-family: 'Times New Roman', Times, serif;
}

.buttons {
    font-size: xx-large;
    
}

.hej  {
    margin-left: 20px;
    background-color: red;
    size: 500px;
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    
}
.hej2  {
    background-color: red;
    size: 500px;
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    
}
.hej3  {
    background-color: red;
    size: 500px;
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    
}